<!doctype html>
<html>
    <head>
        <style>
            body {
            font-family: Courier;
            margin-left: 280px;
            font-size: 150%;
            
            }
        </style>
    </head>
        <body>
            <nav>
                <ul>       
                    <a href='/'><b>Home</b></a>
                    <a href='/blog'><b>All Posts</b></a>
                    <a href='/newpost'><b>New Post</b></a>
                    <a href='/login'style="padding-left: 300px">login</a> | <a href='/logout'>log out</a>
                </ul>
            </nav>
                <div>
                
                </div>
    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>

        {% endwith %}
   
    
    {% block content %}
    {% endblock %}

</body>
</html>